body{
    margin: 0;
    padding: 0;
}

.i-navigation{
    height: 60px;
    position: fixed;
    background: #1c1e2b;
    display: block;
    width: 100%;
    z-index: 5;
    box-sizing: inherit;
}

.logo-text{
    text-decoration: none;
}

.logo-text span{
    font-family: "Unisect Vnu";
    line-height: 50px;
    font-size: 30px;
    padding: 8px 20px;
    font-weight: bolder;
    color: #ffc600;
}

header .i-header{
    width: 100%;
    background: #484848;
    position: relative;
}

.i-header img{
    height: 600px;
    background-size: contain;
}

.i-number{
    width: 100%;
    background-image: url("../img/number-background.png");
    background-size: cover;
    min-height: 400px;
}

.number-circle{
    max-width: 100%;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
}

.number-circle-inner{
    max-width: 100%;
    width: 200px;
    height: 200px;
    border: 5px solid rgba(255,186,14,0.5);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.2);
    border-radius: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: rgba(0,0,0,0.5);
    font-size: 50px;
    color: #ffba0e;
    font-family: "Maven Pro Bold";
}

.circle-text{
    font-weight: bold;
    font-family: "Maven Pro Bold";
}

@media (max-width: 767.98px) and (min-width: 576px){
    .number-circle {
        width: 100px;
        height: 100px;
    }
}

